@import "../components/Theme/theme.scss";

.wrapper {
  padding-bottom: 3px;
  padding: 0;
  margin: 0;
  background-color: $bg;
  min-height: 100vh;
  .container {
    position: relative;
    min-height: 100vh;
    height: 100vh;
    overflow-x: hidden !important;
    padding: 4em 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    > main {
      margin-top: 4rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      max-width: 1200px;
      width: calc(100vw - 2em);
    }
  }

  h2 {
    font-size: 1.5rem;
    letter-spacing: calc(-1.5rem * 0.02);
  }
  * {
    color: $font;
  }
}
