@import "../components/Theme/theme.scss";

.heroImage {
  object-fit: cover;
  width: 100vw;
  height: 500px;
  max-width: 1920px;
  @include size-m {
    height: 400px;
  }
  @include size-s {
    height: 300px;
  }
}

.profileWrapper {
  display: flex;
  justify-content: center;
  .profile {
    padding: 2rem 4rem;
    .buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      > button {
        width: fit-content;
      }
    }
  }
}

.albumTitle {
  width: 100%;
}
