@import "../Theme/theme.scss";

.imageContainer {
  background-color: $bg-secondary;
  border-radius: $border-radius-tiny;
  position: relative;
  overflow: hidden;
  &:not(.isLoaded) {
    @include loading-skeleton;
  }
  &.isLoaded {
    background-color: transparent;
  }
}
.image {
  opacity: 0;
  transition: "opacity 250ms";
  &.isLoaded {
    display: block;
    opacity: 1;
  }
}
