@import "../Theme/theme.scss";

.galleryItem {
  z-index: $z-index-gallery-view;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $gallery-view-underlay;
  height: 100vh;
  width: 100vw;
  .closeButton {
    z-index: $z-index-gallery-close-button;
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: $primary-light;
    svg path {
      color: $font-dark;
    }
  }
  .image {
    position: relative;
    top: 2rem;
    left: 6rem;
    height: calc(100vh - 4rem);
    width: calc(100vw - 12rem);
    @include size-m {
      left: 2rem;
      width: calc(100vw - 4rem);
      height: calc(100vh - 7rem);
    }
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
  .navigationButtons {
    position: absolute;
    top: calc(50% - 1.5rem);
    width: 3rem;
    height: 3rem;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: $primary-light;
    left: 1rem;
    @include size-m {
      bottom: 1rem;
      top: auto;
      left: auto;
      right: calc(50% + 1rem);
      &:last-child {
        right: auto !important;
        left: calc(50% + 1rem) !important;
      }
    }
    &:last-child {
      right: 1rem;
      left: auto;
    }
  }
}
