@import "../Theme/theme.scss";

.component {
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px 1.5rem;
  font-size: 1em;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
  $transition-property: outline, color, background;
  @include transition($transition-property);
  outline: 2px solid transparent;
  font-family: inherit;
  line-height: 1.5rem;
  // Variants
  &.solid {
    border: none;
    background: $primary-dark;
    color: $font;
    &[data-hovered] {
      background: $primary-dark-hovered;
    }
  }
  &.link {
    border: none;
    border-radius: 0;
    padding: 0;
    min-width: 0;
    color: $font;
    @include transition(color);
    &:hover {
      color: $font-hovered;
    }
  }
  // Other styles

  &.outline {
    $border-size: 2px;
    border: $border-size solid $primary-dark;
    background-color: transparent;
    padding: calc(10px - $border-size) 1.5rem;
    $transition-property: border, color;
    @include transition($transition-property);
    &[data-focused] {
      border: $border-size solid transparent;
    }
    &[data-hovered] {
      border: $border-size solid $primary-dark-hovered;
      color: $font-hovered;
    }
  }

  .spinner {
    svg {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &[data-focused],
  &:focus {
    outline: 2px solid $primary-light;
  }
}
