@import "../Theme/theme.scss";

.imagePreview {
  display: flex; /* Use Flexbox inside grid cells */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  position: relative;
  .imageWrapper {
    width: 96px;
    height: 96px;
    background-color: $bg-secondary-dark;
    border-radius: $border-radius;
    &:hover {
      .innerWrapper .deleteButton {
        opacity: 1;
      }
    }
    &.notLoaded {
      .image {
        opacity: 0;
      }
    }
    .image {
      @include transition(opacity);
      opacity: 1;
      object-fit: cover;
      border-radius: $border-radius;
      cursor: pointer;
    }
    .innerWrapper {
      position: relative;
      .strapiImage {
        border-radius: $border-radius;
        background-color: $bg;
        img {
          border-radius: $border-radius;
          width: 96px;
          height: 96px;
          object-fit: cover;
        }
      }
      .deleteButton {
        @include transition(opacity);
        opacity: 0;
        position: absolute;
        top: 6px;
        right: 6px;
        background-color: $error;
        padding: 0.25rem;
        border-radius: $border-radius-tiny;
        &[data-focused] {
          opacity: 1;
        }
        svg {
          width: 0.75rem;
          height: 0.75rem;
        }
      }
    }
  }
  .addImage {
    width: 6rem;
    height: 6rem;
    background-color: $bg;
    border-radius: $border-radius;
    border: none;
    &[data-focused] {
      outline: $outline;
    }
    .icon {
      width: 2rem;
      height: 2rem;
      path {
        fill: $bg-secondary-dark;
      }
    }
  }
}
